<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjy.personal_blog.mapper.NoteMapper">
    <!-- 更新笔记  -->
    <update id="updateNote">
        update notes
        <set>
            <if test="noteTopic != null">
                note_topic = #{noteTopic},
            </if>
            <if test="noteContent != null">
                note_content = #{noteContent},
            </if>
        </set>
        where note_id = #{noteId}
    </update>


    <delete id="deleteBatchNotes">
        delete from notes where note_id in
        <foreach item="noteId" collection="noteIdList" open="(" separator="," close=")">
            #{noteId}
        </foreach>
    </delete>

    <!-- 模糊查询 -->
    <select id="queryByKeyWord" resultType="com.wjy.personal_blog.pojo.entity.Notes">
        select * from notes
        <where>
            note_user_id = #{noteUserId}
            <if test="noteTopic != null and noteTopic != ''">
                and note_topic like concat('%',#{noteTopic},'%')
            </if>
            <if test="noteContent != null and noteContent != ''">
                and note_content like concat('%',#{noteContent},'%')
            </if>
        </where>
        order by note_create_time desc
    </select>


    <select id="countNoteByUserIdMaps" >
        select note_user_id,count(*) as noteCount
        from notes
        where note_user_id in
        <foreach collection="userIds" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
        group by note_user_id
    </select>

    <select id="adminSearchNotes" resultType="com.wjy.personal_blog.pojo.entity.Notes">
        select * from notes
        <where>
            <if test="noteTopic != null and noteTopic != ''">
                or note_topic like concat('%',#{noteTopic},'%')
            </if>
            <if test="noteContent != null and noteContent != ''">
                or note_content like concat('%',#{noteContent},'%')
            </if>
        </where>
    </select>
</mapper>