<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjy.personal_blog.mapper.UserMapper">

    <!-- 更新用户信息 -->
    <update id="updateUser">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword},
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail},
            </if>
            <if test="userUrl != null">
                user_url = #{userUrl},
            </if>
            <if test="userAvatar != null">
                user_avatar = #{userAvatar},
            </if>
            <if test="userRole != null">
                user_role = #{userRole},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus},
            </if>
        </set>
        where user_id = #{userId}
    </update>


    <!-- 注册新用户 -->
    <!--<insert id="insertNewUser">
        insert into user values ()
    </insert>-->


    <!-- 根据名字/邮箱找用户 -->
    <select id="findSingleUser" resultType="com.wjy.personal_blog.pojo.entity.User">
        select * from user
        <where>
            <if test="userName != null">
               or user_name like concat('%', #{userName}, '%')
            </if>
            <if test="userNickname != null">

                or user_nickname like concat('%', #{userNickname}, '%')
            </if>
            <if test="userPassword != null">

                or user_password like concat('%', #{userPassword}, '%')
            </if>
            <if test="userEmail != null">

                or user_email like concat('%', #{userEmail}, '%')
            </if>
        </where>
    </select>
    
    <!--<select id="getAllUsers" resultType="com.wjy.personal_blog.pojo.entity.User">
        select * from user
        <where>
            <if test="userName!=null and userName != ''">
               and user_name like concat('%',#{userName},'%')
            </if>
        </where>
        order by user_register_time desc
    </select>-->


</mapper>