<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjy.personal_blog.mapper.ArticleMapper">

    <!-- 需要用到的公共字段 -->
    <sql id="articleColumns">
        article.article_id,
        article.article_user_id,
        article.article_title,
        article.article_read_count,
        article.article_comment_count,
        article.article_like_count,
        article.article_content,
        article.article_is_comment,
        article.article_update_time,
        article.article_create_time,
        article.article_summary,
        article.article_thumbnail,
        article.article_status,
        user.user_nickname AS blogger
    </sql>

    <!-- 联合查询，加上标签 -->
    <resultMap id="ArticleWithTag" type="com.wjy.personal_blog.pojo.entity.Article">
        <!-- article的相关字段 -->
        <id property="articleId" column="article_id"/>
        <result property="articleUserId" column="article_user_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleReadCount" column="article_read_count"/>
        <result property="articleCommentCount" column="article_comment_count"/>
        <result property="articleLikeCount" column="article_like_count"/>
        <result property="articleContent" column="article_content"/>
        <result property="articleIsComment" column="article_is_comment"/>
        <result property="articleUpdateTime" column="article_update_time"/>
        <result property="articleCreateTime" column="article_create_time"/>
        <result property="articleSummary" column="article_summary"/>
        <result property="articleThumbnail" column="article_thumbnail"/>
        <result property="articleStatus" column="article_status"/>
        <result property="blogger" column="blogger"/>

        <!-- 关联标签列表 -->
        <collection property="tagList" ofType="com.wjy.personal_blog.pojo.entity.Tag">
            <id property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
            <result property="tagDescription" column="tag_description"/>
        </collection>
     </resultMap>


    <!-- 修改文章信息 -->
    <update id="updateArticle">
        update article
        <set>
            <if test="articleTitle != null">
                article_title = #{articleTitle},
            </if>
            <if test="articleContent != null">
                article_content = #{articleContent},
            </if>
            <if test="articleSummary != null">
                article_summary = #{articleSummary},
            </if>
            <if test="articleThumbnail != null">
                article_thumbnail = #{articleThumbnail},
            </if>
            <if test="articleIsComment != null">
                article_is_comment = #{articleIsComment},
            </if>
            <if test="articleStatus != null">
                article_status = #{articleStatus},
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <!-- 模糊查询文章，根据关键字进行查询 -->
    <select id="queryConditional" resultType="com.wjy.personal_blog.pojo.entity.Article">
        select * from article
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like concat('%',#{articleTitle},'%')
            </if>
            <if test="articleContent != null and articleContent != ''">
                or article_content like concat('%',#{articleContent},'%')
            </if>
            <if test="articleSummary != null and articleSummary != ''">
                or article_summary like concat('%',#{articleSummary},'%')
            </if>
        </where>
            where article_user_id=#{articleUserId}
    </select>

    <!-- 查询当前用户所有文章 -->
    <select id="list" resultMap="ArticleWithCategory">
        select
            <include refid="articleColumns"/>,
           t.tag_id,
           t.tag_name,
           t.tag_description,
           c.category_id,
           c.category_name,
           c.category_description,
           c.category_icon,
           c.category_parent_id,
           c.category_order
        from article
        left join user on article.article_user_id = user.user_id
        left join article_tag at on article.article_id = at.article_id
        left join tag t on at.tag_id = t.tag_id
        left join article_category ac on article.article_id = ac.article_id
        left join category c on ac.category_id = c.category_id
        where article.article_user_id = #{articleUserId}
        order by article.article_create_time desc

    </select>


    <!-- 查询用户的文章数，返回map类型（展示在后台管理页面） -->
    <select id="countByArticleUserIdMap" >
        select article_user_id ,count(*) as articleCount
        from article
        where article_user_id in
        <foreach collection="userIds" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
        group by article_user_id
    </select>

    <!-- 管理员查询所有用户文章 -->
    <select id="adminSeeArticlesList" resultMap="ArticleWithCategory">
        select
        <include refid="articleColumns"/>,
        t.tag_id,
        t.tag_name,
        t.tag_description,
        c.category_id,
        c.category_name,
        c.category_description,
        c.category_icon,
        c.category_parent_id,
        c.category_order
        from article
        left join user on article.article_user_id = user.user_id
        left join article_tag at on article.article_id = at.article_id
        left join tag t on at.tag_id = t.tag_id
        left join article_category ac on article.article_id = ac.article_id
        left join category c on ac.category_id = c.category_id
        order by article.article_update_time desc
    </select>

    <!-- 根据分类查询文章 -->
    <select id="getArticlesByCategory" resultMap="ArticleWithCategory">
        select
        <include refid="articleColumns"/>,
        t.tag_id,
        t.tag_name,
        t.tag_description,
        c.category_id,
        c.category_name,
        c.category_description,
        c.category_icon,
        c.category_parent_id,
        c.category_order
        from article
        left join user on article.article_user_id = user.user_id
        left join article_tag at on article.article_id = at.article_id
        left join tag t on at.tag_id = t.tag_id
        left join article_category ac on article.article_id = ac.article_id
        left join category c on ac.category_id = c.category_id
        where ac.category_id = #{categoryId}
        order by article.article_update_time desc
    </select>


    <!-- 查询分类下的文章数量 -->
    <select id="getArticleCountByCategories" resultType="java.util.Map">
        select category_id as categoryId, count(*) as articleCount
        from category
        where category_id in
        <foreach collection="categoryIds" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
        group by category_id
    </select>

    <!-- 扩展 ArticleWithTag 结果映射，添加分类列表 -->
    <resultMap id="ArticleWithCategory" type="com.wjy.personal_blog.pojo.entity.Article" extends="ArticleWithTag">
        <!-- 关联分类列表 -->
        <collection property="categoryList" ofType="com.wjy.personal_blog.pojo.entity.Category">
            <id property="categoryId" column="category_id"/>
            <result property="categoryName" column="category_name"/>
            <result property="categoryDescription" column="category_description"/>
            <result property="categoryIcon" column="category_icon"/>
            <result property="categoryParentId" column="category_parent_id"/>
            <result property="categoryOrder" column="category_order"/>
        </collection>
    </resultMap>
    
    <!-- 查询具体某篇文章 -->
    <select id="specificArticle" resultMap="ArticleWithCategory">
        select
            <include refid="articleColumns"/>,
            t.tag_id,
            t.tag_name,
            t.tag_description,
            c.category_id,
            c.category_name,
            c.category_description,
            c.category_icon,
            c.category_parent_id,
            c.category_order
        from article
        left join user on article.article_user_id = user.user_id
        left join article_tag at on article.article_id = at.article_id
        left join tag t on at.tag_id = t.tag_id
        left join article_category ac on article.article_id = ac.article_id
        left join category c on ac.category_id = c.category_id
        where article.article_id = #{articleId}
    </select>

</mapper>